# dependencies
node_modules

# next.js
.next/
out/
dist/
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# ide
.vscode/
.idea/
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db
